@page "/"

@* FinalProject OOP2 by Ashleen Sidhu and Nida Aamir. Date: August 12, 2024, 
   Program Description: 
   For this project we’re building a resume website so we can have a platform that 
   displays our professional experience and skills in a more engaging way. Additionally, 
   this project aims to show our skills in C# that were developed this semester and our ability
   to make a database connected application with Maui.
*@

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            <img src="AshleenSidhu.jpeg" class="rounded-circle" alt="Ashleen Sidhu" style="width: 200px; height: 200px;">
        </div>
        <div class="col-md-9">
            <h1>Ashleen Sidhu</h1>
            <p class="text-muted">Contact Information: ssidhuash4@gmail.com | (587) 832-7890</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <hr />
            <h3>About Me</h3>
            <p>
                I'm a Software Development student at the Southern Alberta Institute of Technology (SAIT).
                I have a passion for learning new technologies and creating software applications. I'm
				currently learning C#, .NET, and Blazor. I'm excited to learn more about software development
				and to create new applications.
            </p>
        </div>
    </div>
</div>


